dist
node_modules
yarn.lock
yarn-error.log
dist.zip
.DS_Store
.vscode

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*


# IDE Files
#-------------------------
/nbproject/
.idea/*
.vscode/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
installed.json
install.php

# 屏蔽指定目录,由webpack生成重构的静态文件
/public/static/*
!.gitignore

dist2
